NET "DIGIT[0]" LOC = "T17"; #CA
NET "DIGIT[1]" LOC = "T18"; #CB
NET "DIGIT[2]" LOC = "U17"; #CC
NET "DIGIT[3]" LOC = "U18"; #CD
NET "DIGIT[4]" LOC = "M14"; #CE
NET "DIGIT[5]" LOC = "N14"; #CF
NET "DIGIT[6]" LOC = "L14"; #CG
NET "DIGIT[7]" LOC = "M13"; #DP
NET "DIGIT[8]" LOC = "P17"; #AN3
NET "DIGIT[9]" LOC = "P18"; #AN2
NET "DIGIT[10]" LOC = "N15"; #AN1
NET "DIGIT[11]" LOC = "N16"; #AN0
#NET "" LOC = "C4";  #BTNL
#NET "" LOC = "D9";  #BTNR
#NET "" LOC = "A8";  #BTNU
#NET "" LOC = "C9";  #BTND
NET "reset" LOC = "B8";  #BTNS
NET "LED[0]" LOC = "U16"; #LD0
NET "LED[1]" LOC = "V16"; #LD1
NET "LED[2]" LOC = "U15"; #LD2
NET "LED[3]" LOC = "V15"; #LD3
NET "LED[4]" LOC = "M11"; #LD4
NET "LED[5]" LOC = "N11"; #LD5
NET "LED[6]" LOC = "R11"; #LD6
NET "LED[7]" LOC = "T11"; #LD7
NET "SWITCH[0]" LOC = "T10"; #SW0
NET "SWITCH[1]" LOC = "T9";  #SW1
NET "SWITCH[2]" LOC = "V9";  #SW2
NET "SWITCH[3]" LOC = "M8";  #SW3
NET "SWITCH[4]" LOC = "N8";  #SW4
NET "SWITCH[5]" LOC = "U8";  #SW5
NET "SWITCH[6]" LOC = "V8";  #SW6
NET "SWITCH[7]" LOC = "T5";  #SW7
NET "sysclk" LOC = "V10"; #100MHz Clock
NET "TX" LOC = "N18"; #TXD
NET "RX" LOC = "N17"; #RXD
#Created by Constraints Editor (xc6slx16-csg324-3) - 2014/07/14
NET "sysclk" TNM_NET = sysclk;
TIMESPEC TS_sysclk = PERIOD "sysclk" 10 ns HIGH 50%;
