NET "clk" LOC = "B8";  #BTNS
NET "sum[0]" LOC = "U16"; #LD0
NET "sum[1]" LOC = "V16"; #LD1
NET "sum[2]" LOC = "U15"; #LD2
NET "sum[3]" LOC = "V15"; #LD3
NET "overflow" LOC = "T11"; #LD7
NET "reset" LOC = "T10"; #SW0
NET "enable" LOC = "T9";  #SW1
NET "addin[0]" LOC = "N8";  #SW4
NET "addin[1]" LOC = "U8";  #SW5
NET "addin[2]" LOC = "V8";  #SW6
NET "addin[3]" LOC = "T5";  #SW7
NET "sysclk" LOC = "V10"; #100MHz Clock

