NET "" LOC = "T17"; #CA
NET "" LOC = "T18"; #CB
NET "" LOC = "U17"; #CC
NET "" LOC = "U18"; #CD
NET "" LOC = "M14"; #CE
NET "" LOC = "N14"; #CF
NET "" LOC = "L14"; #CG
NET "" LOC = "M13"; #DP
NET "" LOC = "P17"; #AN3
NET "" LOC = "P18"; #AN2
NET "" LOC = "N15"; #AN1
NET "" LOC = "N16"; #AN0
NET "" LOC = "C4";  #BTNL
NET "" LOC = "D9";  #BTNR
NET "" LOC = "A8";  #BTNU
NET "" LOC = "C9";  #BTND
NET "" LOC = "B8";  #BTNS
NET "" LOC = "U16"; #LD0
NET "" LOC = "V16"; #LD1
NET "" LOC = "U15"; #LD2
NET "" LOC = "V15"; #LD3
NET "" LOC = "M11"; #LD4
NET "" LOC = "N11"; #LD5
NET "" LOC = "R11"; #LD6
NET "" LOC = "T11"; #LD7
NET "" LOC = "T10"; #SW0
NET "" LOC = "T9";  #SW1
NET "" LOC = "V9";  #SW2
NET "" LOC = "M8";  #SW3
NET "" LOC = "N8";  #SW4
NET "" LOC = "U8";  #SW5
NET "" LOC = "V8";  #SW6
NET "" LOC = "T5";  #SW7
NET "" LOC = "V10"; #100MHz Clock

